
.play-ground {
    background-color: lightblue;
    width: 9vw;
    height: 22vh;
}

.play-ground-if-select {
    width: 9vw;
    height: 25vh;
    border-style: solid;
    border-color: green;
    border-width: thick;
}

#play-ground-1 {
    position: absolute;
    left: 0vw;
    bottom: 1vh;
}

#play-ground-2 {
    position: absolute;
    top: 35vh;
    right: 0.5vw;
}

#play-ground-3 {
    position: absolute;
    top: 0.2vh;
    left: 60vw;
}

#play-ground-4 {
    position: absolute;
    left: 45vw;
    top: 0.2vh;
}

#play-ground-5 {
    position: absolute;
    left: 30vw;
    top: 0.2vh;
}

#play-ground-6 {
    position: absolute;
    top: 35vh;
    left: 0.5vw;
}

#play-ground-used-card {
    position: absolute;
    top: 40vh;
    left: 40vw;
    display: inline-block;
}

.play-ground-behind-character {
    background-color: burlywood;
    width: 4.5vw;
    height: 15vh;
    float: left;
}

.play-ground-front-character {
    background-color: aliceblue;
    width: 4.5vw;
    height: 15vh;
    float: left;
}

.play-ground-information-blue {
    background-color: deepskyblue;
    width: 3vw;
    height: 5vh;
    float: left;
}

.play-ground-information-red {
    background-color: red;
    width: 3vw;
    height: 5vh;
    float: left;
}

.play-ground-information-gray {
    background-color: lightgray;
    width: 3vw;
    height: 5vh;
    float: left;
}

.hand-card {
    background-color: khaki;
    border-style: solid;
    width: 6vw;
    height: 15vh;
    float: left;
}

.my-ground-information-blue {
    background-color: deepskyblue;
    position: relative;
    left: 0.3vw;
    width: 6vw;
    height: 5vh;
}

.my-ground-information-red {
    background-color: red;
    position: relative;
    left: 0.3vw;
    width: 6vw;
    height: 5vh;
}

.my-ground-information-gray {
    background-color: lightgray;
    position: relative;
    left: 0.3vw;
    width: 6vw;
    height: 5vh;
}

.my-ground-behind-character {
    position: absolute;
    left: 90vw;
    bottom: 1vh;
    width: 4.5vw;
    height: 15vh;
    float: left;
}

.my-ground-front-character {
    position: absolute;
    background-color: aliceblue;
    left: 95vw;
    bottom: 1vh;
    width: 4.5vw;
    height: 15vh;
    float: left;
}

.action-log {
    position: absolute;
    background-color: aliceblue;
    width: 24vw;
    height: 30vh;
    left: 75vw;
    top: 1vh;
}
